  *{
    margin: 0px;
    padding: 0px;
  } 
h1{
    color: red;
}
img{
    width: 400px;
}
.rice{
    color: blueviolet;
    background-color: deeppink;
}
#sample{
    background-color: yellow;
    border-color: black;
    border: dashed;
}
.box{
    border-style: dotted;
    margin: 20px 30px;
    padding: 30px;
    
}
      /* My Flexbox Properties */
/* .Container{
           background-color: blue;
} */
.Child{
       background-color: yellow;
       display: flex;
       justify-content: space-between;
       align-content: center;
}
/* BLUE CONTAINER */
       .Blue-container{
                       border: 6px purple solid;
                       display: flex;
                       flex-direction: row;
                       justify-content: center;
                       align-items: center;
                       
       }

       .Flex-items{
                  border: 2px solid;
                  border-color: blue;
                  margin: 5px;
                  height: 80px;
                  width: 80px;
       }
.mine{
    border-right: 5px;
}

.last{
     border-color: deeppink;
    display: flex;
    border: 4px;
    align-content: center;
}

img{
    width: 40px;
}
